:root {
    --primary-font-color: #1b1b1c;
    --main-color: rgb(214, 214, 214);
    --accent-color: #22b9d7;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    color: var(--primary-font-color);
    text-decoration: none;
    box-sizing: border-box;
}
html {
    overflow: hidden;
}

ul > li {
    list-style: 0;
}

body {
    /* background-image: url('../img/lofi-bgc.jpg'); */
    background-image: url('../img/rainy-castle.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}
.header {
    background-color: var(--main-color);
    min-height: 80px;
    padding: 20px 0;
}
.main {
    padding: 25px 0;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    background-image: url('../img/water.png');
    animation: water 400ms linear infinite;
}
@keyframes water {
    0% {
        background-position: -5% -5%;
    }
    100% {
        background-position: 10% 70%;
    }
}
.main .container {
    height: 100%;
}
.header-inner {
    display: flex;
}
.canvas-game {
    background-color: rgba(255, 255, 255, 0.597);
    border: 1px solid #fff;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: block;
}
.footer {
    margin: auto 0 0 0;
    background-color: var(--main-color);
}
.footer__sign {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.canvas-container {
    position: relative;
    height: 100%;
}
.pulse {
    background-color: #7de3e3;
    border-radius: 50%;
    animation: pulse .9s ease-out;
    transform: scale(0);
    position: absolute;
    pointer-events: none;
  }
  
  @keyframes pulse {
    to {
      transform: scale(2.5);
      background-color: #fff;
      opacity: 0;
    }
}

.target {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: #2b09e9;
    border-radius: 50%;
    overflow: hidden;
    animation: buble 1.7s ease-out;
    transform: scale(0);
}

@keyframes buble {
    60% {
      transform: scale(2);
    }
    100% {
        transform: scale(0);
        opacity: 0.1;
      }
}